<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}"></link>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dt.min.css') }}"></link>
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dataTables.semanticui.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/notify.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/handlebars.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.peity.js') }}"></script>
      <title>ProfitBricks :: Python Test Runner</title>
  </head>
  <body>
    <div class="ui container">
        <div class="ui icon menu">
            <div class="active item"><a href="/">Home</a></div>
            <div class="right item">Sign out</div>
        </div>
    </div>
    <div style="margin-left:20%;margin-right:20%">
        <div class="ui centered grid">
            <div class="four wide column"></div>
            <form id="taskForm" action="/tasks">
                <div class="eight wide column">
                    <h1 class="ui centered header">Python Test Runner</h1>
                    <div class="ui centered grid segment form" style="padding-top:2%;background-color: #c7d2d1">
                        <div class="seven wide column">
                            <div class="inline field">
                                <label for="requester">Requester</label>
                                <input type="text" name="requester" id="requester" placeholder="Requester"> 
                            </div>
                        </div>
                        <div class="one wide column"></div>
                        <div class="seven wide column">
                            <div class="inline field">
                                <label for="request_id">Test environment #</label>
                                <input type="number" name="request_id" id="request_id" min="1" max="100" placeholder="Test environment #"> 
                            </div>
                        </div>
                        <div class="nine wide column">
                            <span style="font-weight: 700;font-size: .92857143em;padding-right:1%">Run test by </span>
                            <select class="ui inline dropdown" id="test_config" name="test_config">
                                <option value="">Select interface to run</option>
                                <option value="unittest">unittest</option>
                                <option value="pytest">py.test</option>
                            </select>
                        </div>
                        <div class="one wide column"></div>
                        <div class="five wide column"></div>
                        <div class="seven wide column">
                            <div>
                                <label for="file" class="ui icon grey button">
                                    <i class="upload icon"></i>Upload Tests</label>
                                <input type="file" name="tests" id="file" accept=".py" style="display:none" multiple>
                                <span id="file_list"></span>
                            </div>
                        </div>
                        <div class="one wide column"></div>
                        <div class="seven wide column"></div>
                        <div class="six wide column"></div>
                        <div class="eight wide column">
                                <input class="ui teal button" id="submitBtn" type="submit" value="Submit">
                        </div>
                        <div class="two wide column"></div>
                    </div>
                </div>
            </form>
            <div class="four wide column"></div>
        </div>
    </div>
    <div style="margin-left:15%;margin-right:15%">
      <table id="tasks" class="ui celled table" style="width:100%">
          <thead>
              <tr>
                <th>ID</th>
                <th>Request ID</th>
                <th>Requester</th>
                <th>Created</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
          </thead> 
      </table> 
    </div>
    {%raw%}
    <script id="document-template" type="text/x-handlebars-template">
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">Logs for test run</div>
            <div class="scrolling content">
                <div class="ui styled fluid accordion">
                    {{#each data}}
                        <div class="title">
                            <i class="file alternate icon"></i>
                            {{this.file_name}}
                        </div>
                        <div class="content">
                            <div class="transition hidden" style="background-color: lightgrey">
                                <pre style="background-color: lightgrey;border-radius: 10px;padding: 10px;">{{formatLog this.file_head}}</pre>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </script>
    {%endraw%}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>