<html>
    <head>
        <title>Info for test run</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dt.min.css') }}"></link>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dataTables.semanticui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/handlebars.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.peity.js') }}"></script>
    </head>
    <body>
        <div class="ui container">
                <div class="ui icon menu">
                    <div class="active item"><a href="/">Home</a></div>
                    <div class="right item">Sign out</div>
                </div>
        </div>
        <h1 class="center" style="text-align: center;">Test Results</h1>
        <div class="ui grid segment" style="margin-left:15%;margin-right:15%">
            <div class="eight wide column">
                <div id="header">
                    {%raw%}
                        <script id="test-detail-header" type="text/x-handlebars-template">
                            <h3>Requester : {{header.requester}}</h3> 
                            <h3>Created Date : {{header.created_date}}</h3> 
                            <h3>Test Run Id : {{header.test_run_id}}</h3> 
                            <h3>Status : {{header.status}}</h3> 
                        </script>
                    {%endraw%}
                </div>
            </div>
            <div class="eight wide column">
                <h3 class="ui center">Summary chart</h3>
                <div class="ui grid">
                    <div class="four wide column">
                            <span class='pie' data-peity='{"fill":["green","red"],"innerRadius":25,"radius":50}'>{{cumulative.success}}/{{cumulative.total}}</span>
                    </div>
                    <div class="four wide column">
                        <div id="cumulative">
                            {%raw%}
                                <script id="test-detail-cumulative" type="text/x-handlebars-template">
                                        <h4>Pass : <span style="color: green;">{{cumulative.success}}</span></h4>
                                        <h4>Fail : <span style="color: red;">{{cumulative.error}}</span></h4>
                                </script>
                            {%endraw%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left:15%;margin-right:15%">
                <table id="tasks" class="ui celled table" style="width:100%">
                    <thead>
                        <tr>
                          <th>Test file name</th>
                          <th>Duration</th>
                          <th>Passed</th>
                          <th>Failed</th>
                          <th>Error Message</th>
                          <th>Trend (Last 5 runs)</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                </table> 
              </div>
    </body>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>